/* Login.css */

.login-left {
    background: linear-gradient(-45deg, transparent 50%, #ffffff 50%), #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.login-right {
    background: linear-gradient(-70deg, transparent 60%, #ffffff 70%),
        url('../../public/GGCLibrary.jpg');
}
